body {
    background: #2C2F33;
    color: #FFFFFF;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

a {
    color: #FFC0CB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

